
<!DOCTYPE html>
<html>
<head>
<title>Web-Scraper</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    
    <header>

        <form action="/" method="get" >
            <input type="submit" value="Home" class="button">
        </form>

        <form action="/getsaved" method="get">
            <input type="submit" value="Get Saved Articles">
        </form>

        <form action="/scrape" method="get">
            <input type="submit" value="Scrape Articles">
        </form>

    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>